# Скопируй в .env и подставь свои значения
# Для Railway это же значение нужно указать как переменную окружения BOT_TOKEN
BOT_TOKEN=8922540867:AAF-1dQYi929S8EBpPH-CuDjvGob8zwDrLA

# Необязательные настройки (есть значения по умолчанию)
TTS_VOICE=en-US-AriaNeural
QUIZ_SIZE=10
QUIZ_OPTIONS=4
QUIZ_DEADLINE_SECONDS=15
